<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzy.mapper.CoAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xzy.pojo.CoShop">
        <id column="shop_id" property="shopId" />
        <result column="shop_name" property="shopName" />
        <result column="shop_dis" property="shopDis" />
        <result column="shop_pic" property="shopPic" />
    </resultMap>

    <sql id="Base_Column_List">
    shop_id, shop_name, shop_dis, shop_pic
  </sql>


</mapper>
